
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Ajustes generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding-top: 56px; /* Espacio para la barra de navegación fija */
  }
  
  /* Navegación */
  .navbar-brand {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .nav-link {
    padding: 0.75rem 1rem;
    font-size: 0.9rem;
  }
  
  /* Títulos de categorías */
  h2 {
    font-size: 2rem;
    color: #007bff;
    border-bottom: 2px solid #007bff;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  h3 {
    font-size: 1.5rem;
    color: #6c757d;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  /* Tarjetas */
  .card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Imagen en las tarjetas */
  .card-img-top {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
  }
  
  .card-body {
    padding: 0.5rem;
    text-align: center;
  }
  
  /* Contenedor principal */
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
  #sizeList{
    display: block;
    float: left;
  }
@media (max-width: 768px){
  .card-img-top{
    height: 400px;
  }
}
